body {
  min-width: 800px;
}
html {
  max-width: 100%;
}
.CodeMirror {
  font-family: Arial, monospace;
  font-size: 14px !important;
  min-width: 70vw;
  min-height: calc(100vh - 200px);
}

#output {
  min-width: 30vw;
  min-height: calc(100vh - 200px);
  padding-left: 10px;
  padding-right: 10px;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  max-width: 100%; /* added */
}

.result {
  color: black;
}

.result.error {
  color: red;
}

.result.success {
  color: black;
}
